* {
    margin: 0;
    padding: 0; 
}
.dashboard-main-div {
    display: flex;
    justify-content: flex-start;

}
.dashboard-menu {
    height: auto;
    width: 363px;
    padding-top: 25px;
    padding-bottom: 50px;
    display: grid;
    background-color: #FFFFFF;
    border: 1px ridge #e3e3e373;

}
.dashboard-doc {
    height: auto;
    width: 100%; 
    background-color: #f1f1f1;
}
.switch-organization {
    padding-top: 14px;
    padding-bottom: 14px;
}
ul li {
    list-style-type: none;
    line-height: 49px;
    padding-left: 30px;
    transition: background 3s;
}
ul li:hover {
    background: #39CDCC;
    opacity: 0.8;
    color: #09142a;
    font-weight: bold;
    border-left: 2px solid black;
}
.imageClass {
    margin-right: 3px;
}
.customers:hover, 
.businesses:hover, 
.settings:hover {
    background-color: white;
    border: none; 
}
.dashboard-icon {
    margin-top: 52px;
}
.customers, 
.businesses, 
.settings {
    margin-top: 41px; 
    color: #213F7D; 
}
.business-div {
    margin-top: 41px;
    margin-bottom: 20px;
}
.switch-organization {
    padding-top: 20px; 
}
.data-section {
    margin: 41px 31px 31px 41px;
    height: 300px;
    /* background-color: #dfdcdc; */
}
.data-section-first-div-users {
    height: 210px;
    display: grid;
    align-items: start;
    justify-content: start;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
}
.users-div, .active-users, .users-with-loans, 
.users-with-savings {
    padding-left: 37px;
    padding-top: 20px;
    line-height: 35px;
    width: 20%;
    border-radius: 5px;
    height: 160px;
    background-color: #FFFFFF;
}
.users-para {
    color: #213F7D;
    font-size: 25px;
}
.users-image {
    width: 50px;
    height: 50px;
}
.desc {
    font-size: 14px;
    font-weight: bold;
    color: #545F7D;
}
.desc-heading {
    font-size: 28px; 
    font-weight: bold;
    color: #213F7D; 
}
.first-div {
    height: 173px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.user-image {
    height: 114px;
    width: 114px;
    border-radius: 63px;
    border: 3px solid #12623e;
}
.username-image {
    margin-left: 36px;
}
.list-items {
    line-height: 27px;
    
}
.list-items-heading {
    color: #213F7D; 
    font-size: 22px;
    font-weight: 500;
}

.divider {
    height: 76px;
    border: 1px solid #d3d3d39c;
}
.username-div {
    margin-right: 20px;
}
li .account-number {
    width: 300px;
}
li.list-items:hover {
    background-color: white;
    border: none; 
}
.dashboard-doc-users {
    height: 1732px;
    width: 85%;
    background-color: #f1f1f1;
}

.second-div {
    width: 100%;
    display: flex;
    /* border: 2px solid black; */
    margin-top: 4px;
    justify-content: space-between;
    align-items: center;
}
.data-section-second-div-users {
    margin-top: 30px;
    height: auto;
    background-color: white;
    width: auto;
    border-radius: 5px;
    padding: 40px 40px 40px 80px;
}
.personal-information {
    display: flex;
    height: 103px;
    margin-top: 35px;
    margin-bottom: 46px;
    justify-content: flex-start;
    align-items: center;
}
.education {
    margin-top: 20px; 
}
.item {
    width: 543px;
    height: 66px;
    display: grid;
    margin-top: 4px;
    line-height: 0px;
    padding-top: 24px;
    margin-right: 20px;
}
.horizontal-divider {
    border: 1px solid #e7e7e7cf;
}
.sub-header {
    font-size: 12px;
    color: #545F7D
}
.header {
    color: #213F7D; 
    font-size: 16px;
   
}
.star {
    margin-top: 10px; 
    display: flex;
    justify-content: space-evenly;
}
.para {
    color: #545F7D;
    font-weight: lighter; 
    font-size: 15px;
}
.para:hover {
    font-size: 15px;
}
.para-information {
    color: #545F7D; 
    font-size: 16px; 
    font-weight: 600; 
}
.selections {
    width: 120px;
    height: 34px;
    /* background-color: red; */
    text-align: center;
    color: #686060; 
    margin-left: 20px;
    margin-right: 20px;
}
.highlight-selections {
    border-bottom: 2px solid #39CDCC;
    color: #39CDCC;
}