* {
  margin: 0;
  padding: 0; 
  font-family: "Avenir Next Variable", sans-serif;
}
@font-face {
  font-family: 'Avenir Next Variable';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2729/AvenirNext_Variable.ttf') format('truetype');
}
